header.header
    .header___column
        a(href=routes.home)
            i.fab.fa-youtube
    .header___column
        ul
            li
                a(href=routes.join) Join
            li
                a(href=routes.login) Log In